# 2022-11-08
# project: "XM_books" ----> C:\Users\j\source\repos\BOOKS\XM_books
#
# git ignore (file(s) and folder(s)):
#
# -Vsio chto v papke: C:\Users\j\source\repos\BOOKS\XM_books\pojasnitel`naja_zapiska\*.*
# mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm

#XM_books/pojasnitel`naja_zapiska/
XM_books/pojasnitel_naja--zapiska/

XM_books/obj/
# XM_books/obj/Debug/   2022-11-12
# XM_books/obj/Release/

XM_books/bin/
# XM_books/bin/Debug/   2022-11-12
# XM_books/bin/Release/

.vs/BOOKS/

# mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
# j@SIGMA02 MINGW64 ~/source/repos/BOOKS
# $ ls
# BOOKS.sln  XM_books/  packages/
#
# j@SIGMA02 MINGW64 ~/source/repos/BOOKS
# $
#
# 2022-11-10
# $ git rm -r --cached XM_books/bin/Debug/
#
#
#